<div class="content-container h-full w-full p-5 flex flex-column flex-grow-1 ">
  <div class="stiker flex mb-3 align-content-center flex-grow-0 w-full">
    <img src="https://memeprod.sgp1.digitaloceanspaces.com/user-resource/94c55e33cfa100fc00a97adfc1153c25.png"
      width="80px" alt="stiker">
    <label class="align-self-center">奴才,歡迎回來</label>
  </div>
  <div class="content flex overflow-hidden flex-grow-1 w-full">
    <div class="left-content flex-grow-1 mr-2 p-3 flex flex-column flex-shrink-0">
      <div class="flex m-2 ">
        <label class="flex-grow-1 p-2">最新消息</label>
        <p-button class="my-1" label="查看更多" styleClass="p-button-raised p-button-success"></p-button>
      </div>
      <div class="news flex-grow-1">
        <li>
          <ul class="p-2 m-1">
            <label class="date p-2">2023-07-05 11:11</label>
            <label class="table p-2">您目前有２張沙發被咬壞。</label>
            <a href="/">請點此進入</a>
            <hr>
          </ul>
          <ul class="p-2 m-1">
            <label class="date p-2">2023-07-05 13:01</label>
            <label class="table p-2">您目前有１１個碗盤碎在地上。</label>
            <a href="/">請點此進入</a>
            <hr>
          </ul>
          <ul class="p-2 m-1">
            <label class="date p-2">2023-07-05 15:32</label>
            <label class="table p-2">您目前有６９個小孩的父母須安撫。</label>
            <a href="/">請點此進入</a>
            <hr>
          </ul>
          <ul class="p-2 m-1">
            <label class="date p-2">2023-07-05 19:55</label>
            <label class="table p-2">您的鄰居快要報警了。</label>
            <hr>
          </ul>
        </li>
      </div>
    </div>
    <div class="right-content flex flex-column flex-grow-1 ml-2 px-3 h-full flex-shrink-0">
      <div class="flex">
        <label class="flex-grow-1 p-2">我的最愛</label>
        <p-button class="my-1" label="查看更多" styleClass="p-button-raised p-button-success"></p-button>
      </div>
      <div class="favorite flex flex-wrap w-full flex-grow-1">
        <div>
          <button class="p-5 m-1">家具購買系統</button>
          <button class="p-5 m-1">捕狗大隊電話</button>
          <button class="p-5 m-1">心理醫生預約</button>
        </div>
      </div>
      <div class="flex-grow-1 align-self-center">
        <p-inplace>
          <ng-template pTemplate="display">
              <div class="inline-flex align-items-center">
                  <span class="pi pi-image" style="vertical-align: middle"></span>
                  <span class="ml-2">狗狗有禮物送你</span>
              </div>
          </ng-template>
          <ng-template pTemplate="content">
              <img src="https://cdn2.ettoday.net/images/4812/d4812082.jpg" alt="sofa" />
          </ng-template>
      </p-inplace>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <p-steps [model]="items" [readonly]="true" ></p-steps>
  </div>
</div>
